/* Reset */

html {
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: 70px;
  width: 70px;
}

body {
  background: #181c21;
  font-family: cursive;
  font-size: 15px;
border: none;
    text-transform: uppercase;
    color: steelblue;
    letter-spacing: 1px;
}

/* Główny styl */

header {
    background: steelblue;
    width: 100%;
    color: white;
    text-align: center;


}

.bottom {
    background: steelblue;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 100px;

}

footer {
    text-align: center;
    height:250px;
    background: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: monospace;
}


.panel {
  background: stellblue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%
  margin-top: 100px
}

.panel .card img {
  display: none;
  background: none;
}


.panel .card.show img {
  display: inline;
  background: none;

}

.panel .card.correct img {
display: inline;
}

.panel .card {
  height: 4rem;
  width: 4rem;
  margin: 0.3rem 0.3rem;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: grab;
    background:#3d76b7;
}

.panel .open {
  animation-name: challenge;
  backface-visibility: visible;
  animation-duration: 0.50s;
}

.panel .card.show {
  font-size: 50px;
}

.panel .card.correct {
  font-size: 50px;
  cursor: default;
  animation-name: yupi;
  animation-duration: 1s;
  backface-visibility: visible;
}

.panel .card.uncorrect {
  backface-visibility: visible;

}

.panel .card.turnOff {
  pointer-events: none;
  opacity: 0.7;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    color: steelblue;
    letter-spacing: 1px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

ul {
    display: block;
}


/* klasa dla modala */
.showEnd {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.modal {
  margin: 100px auto;
  width: 50%;
  background: steelblue;;
  position: relative;
  color: white;
  border: 2px solid #5a1a1a;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

.closeBox {
	color: white;
	text-decoration: none;
}

#musicIsGood {
  display: none;
}

.again {
    color: white;
    font-size: 15px;
    font-weight: 600px;
    min-width: 100px;
    cursor: pointer;
}

/* Animacje */

@keyframes challenge {


  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }


  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes yupi {

 from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
